RewriteEngine On
RewriteBase /PHP Advanced/PIZZERIA/Untitled/ordering-pizza/

# If the request is not pointing to an existing file or directory, rewrite to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]